<!--<mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="tabChanged($event)">-->
<!--  <mat-tab label="FindDistance" routerLink="/findDistance"></mat-tab>-->
<!--  <mat-tab label="ManagePlanets" routerLink="/manage-planets"></mat-tab>-->
<!--</mat-tab-group>-->

<!--<router-outlet></router-outlet>-->
<mat-toolbar color="primary">
  <span> Short Distance App </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<!--<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>-->

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>

